html, body {
    height: 100%;
}

#main {
    height: 100%;
    text-align: center;
}

#main-background {
    background: url(/img/bg.jpg);
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

#logo {
    position: relative;
}

.md-button {
    padding: 10px 25px;
    font-size: 16px;
}

a.md-button {
    display: inline-table;
}

.ace_editor  {
    height: 100%;
}

.max-height {
    height: 100%;
}

#test-window {
    overflow-y: scroll;
    padding: 30px 15px;
}

#mocha {
    margin: 0;
}

#mocha-stats {
    position: relative;
}

#mocha-stats .progress {
    display: none;
}
